@{
    ViewData["Title"] = "GITHUB";
}
<h1>@ViewData["Title"]</h1>

<p>Segue Github do candidato:</p>

<a href="https://github.com/christianfelipecarvalho" text-decoration: underline;">GITHUB CHRISTIAN </a>
