@model UsuarioModel
@{
    ViewData["Title"] = "Confirmar deletar usuário";
}
<div class="text-center">
    <h3>Realmente deseja apagar o Usuário (@Model.Nome)?</h3>
    <br />
    <a class="btn btn-primary btn-block" role="button" asp-controller="Usuario" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger btn-block" role="button" asp-controller="Usuario" asp-route-id="@Model.Id" asp-action="Apagar">Confirmar exclusão</a>
</div>
